<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseURL" value="http://toolsqa.wpengine.com/automation-practice-switch-windows/" />
    <add key="browserName" value="SauceLabs" />
    <add key="explicitTimeout" value="3" />
    <add key="implicitTimeout" value="2" />
  </appSettings>
</configuration>